/* COLOR REFERENCES

Blue:		#2FA5D6
Black:		#4C474B

*/


/* ==== GENERAL ==== */

body {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	letter-spacing: ;
	line-height: 34px ;
}

html, body { overflow-x: hidden; }

/* ==== GLOBAL ==== */

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

p, li {
    color: #4C474B;
	font-size: 20px; 
	font-family: 'Lato', sans-serif;
    line-height: 34px; 
    letter-spacing:.3px;
}	
h1 {
	font-size: 40px; 
    line-height: 49px; 
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 600 !important;
    color:#4C474B;
}
h2 {
	font-size: 42px; 
    line-height: 46px; 
    color:#4C474B;
    margin-bottom:35px;
    letter-spacing: -.02rem;
}
h3 {
    font-size: 37px; 
    line-height: 46px; 
    letter-spacing: .25px;
	color:#2FA5D6;
}

a:active, a:focus {
   outline: none;
}

a:link, a:visited {
	color: #2FA5D6;
}

a:hover {
	text-decoration: none;
	color: #2FA5D6;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1234px;/*1140px;*/
}
section {
	padding-top:125px;
	padding-bottom:125px;
}


/* ==== BUTTONS ====*/

button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: white;
}

.btn {
	font-weight: normal;
	border-radius: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	letter-spacing: .05em;
	padding:10px 25px;
}

.btn:focus {
	outline: none;
}
.btn-primary {
	background-color: #2FA5D6;
	border:none;
	text-transform: uppercase;
}
.btn-primary:hover {
	background: #02588F;
	border: none;
}

.btn-secondary {
	background-color: #fff;
	border: none;
	color: #2FA5D6 !important;
}
.btn-secondary:hover {
    color: #F1F1F1 !important;
    background-color: #15769E;
    border-color: none;
}



/* ==== NAV ====*/

.navbar {
	padding: 15px 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #4C474B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0px;
}

.navbar-light .navbar-nav .nav-link a { 
	font-weight:300;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2FA5D6;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1em;
    padding-left: 1rem;
}

.navbar-light .navbar-brand {
	color: #2FA5D6;
	font-size: 25px;
	font-family: 'Fira Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: .01rem;
	font-weight:600;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #2FA5D6;
}

.navbar .btn-primary {
	padding: 10px 12px;
}



/* ==== BOOTSRAP ICONS ====*/

.bi.bi-check-square-fill {
    color: #2FA5D6;
    margin-left: -36px;
}

/* ==== FORMS ==== */

label {
	display: block;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	display: block;
	background-color: #F7F9FA;
	border: 1px solid #DBDCDD;
	padding: 4px;
	width: 100%;
}

textarea {
	height:200px;
	font-size:18px;
	padding:5px 10px;
}


/* ==== HERO ==== */

#hero {
	background: url("../img/hero-bg@2x.jpg") no-repeat top right;
	padding: 10% 0;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #87a0a9;
}

.sub-head-text {
    color: #4C474B;
	font-size: 27px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
    line-height: 36px;
    letter-spacing: .3px;
}	

#hero .box {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,.5) 50%, rgba(255,255,255,.5) 100%);
	padding:50px 60px;
}
	

/* ==== WHAT I DO ==== */
#what-i-do img {
	width:566px;
}
.what-i-do-text {
	padding:0px 60px;
}
.idea-text {
	padding:0px 60px;
}
.heading {
    color: #4C474B;
	font-size: 25px;
	font-family: 'Fira Sans', sans-serif;
	font-weight:500;
    line-height: 33px;
    padding-bottom:50px;
}	

.heading-2 {
    color: #f2f2f2;
	font-size: 25px;
	font-family: 'Fira Sans', sans-serif;
	font-weight:500;
    line-height: 37px;
    background: rgb(121,201,234);
	background: linear-gradient(90deg, rgba(121,201,234,1) 0%, rgba(49,174,226,1) 100%);
	padding: 35px 130px;
}



/* ==== SERVICES ==== */

#services {
	padding-top:0;
	padding-bottom:0;
}

.services-text {
	padding:100px;
}

.technology-roadmap {
	background: url("../img/technology-roadmap-bg@2x.jpg") no-repeat top right;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.software-as-a-service {
	background: url("../img/software-as-a-service-bg@2x.jpg") no-repeat top right;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.training-and-coaching {
	background: url("../img/training-and-coaching-bg@2x.jpg") no-repeat top right;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
 
}

/* ==== OTHER SERVICES ==== */

#other-services {
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,247,250,1) 100%, rgba(255,255,255,0) 100%);
}

#other-services ul {
	padding-left:36px;
}

/* ==== MY APPROACH ==== */

#my-approach img {
    margin-top: 18px;
}


 li.initial-consultation:before {
    content: '';
    display: block;
    height: 60px;
    position: relative;
    top: 64px;
    left: -98px;
    width: 60px;
    background-image: url(../img/initial-consultation@2x.jpg);
    background-size: contain;
}

.initial-consultation {
    margin-left: 100px;
    width: 55%;
}

li.questionnaire:before {
 	content: '';
    display: block;
    height: 60px;
    position: relative;
    top: 47px;
    left: -98px;
    width: 60px;
    background-image: url(../img/questionnaire-icon@2x.jpg);
    background-size: contain;
}

.questionnaire {
    margin-left: 100px;
    width: 55%;
}

li.exploration:before {
	content: '';
    display: block;
    height: 60px;
    position: relative;
    top: 47px;
    left: -98px;
    width: 60px;
    background-image: url(../img/exploration-icon@2x.jpg);
    background-size: contain;
}

.exploration {
    margin-left: 100px;
    width: 55%;
}

li.initial-design:before {
	content: '';
    display: block;
    height: 60px;
    position: relative;
    top: 47px;
    left: -98px;
    width: 60px;
    background-image: url(../img/initial-design-icon@2x.jpg);
    background-size: contain;
}

.initial-design {
    margin-left: 100px;
    width: 55%;
}

li.execution:before {
	content: '';
    display: block;
    height: 60px;
    position: relative;
    top: 47px;
    left: -98px;
    width: 60px;
    background-image: url(../img/execution-icon@2x.jpg);
    background-size: contain;
}

.execution {
    margin-left: 100px;
    width: 55%;
}

li.evaluation:before {
	content: '';
    display: block;
    height: 60px;
    position: relative;
    top: 47px;
    left: -98px;
    width: 60px;
    background-image: url(../img/evaluation-icon@2x.jpg);
    background-size: contain;
}

.evaluation {
    margin-left: 100px;
    width: 55%;
}

.list-unstyled-2 {
    padding-left: 0;
    list-style: none;
    padding-top: 12px;
}

/* ==== ABOUT ME ==== */

#about-me {
	background: url("../img/about-me-bg@2x.jpg") no-repeat top right;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#about-me .box {
	padding:80px 120px 80px 80px;
	background-color: #fff;

}

/* ==== CONTACT ==== */

#contact input, #contact text-area {
	background-color: #F7F9FA;
	border: 1px solid #DBDCDD;
	padding: 10px;
	width: 100%;
	margin-bottom:20px;
	border-radius: inherit;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

#contact label {
	font-family:"Montserrat", sans-serif;
	font-size:18px;
	letter-spacing: -.01rem;
	color: #4C474B;
}
#contact button {
	border-radius: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	font-size:16px;
	letter-spacing: .05em;
	padding:11px 50px;
}
.form-label {
    margin-bottom: 2px;
}

/* ==== REACH OUT NOW ==== */

#reach-out-now {
	background: url("../img/your-idea-is-waiting-to-happen-bg@2x.jpg") no-repeat top right;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-color: #2FA5D6;
}
#reach-out-now h2 {
	font-family: "Fira Sans", sans-serif;
	color:#fff;
	letter-spacing: .03rem;
}
#reach-out-now p {
	font-family: "Fira Sans", sans-serif;
	color:#fff;
	font-weight:100;
	font-style: italic;
	font-size: 30px;
	padding: 0 10%;
	line-height: 43px;
}

/* ==== FOOTER ==== */


footer {
	padding: 100px 0;
	background: #444444;
	color: #eee;
}

footer li {
    margin: 11.5px 0 0;
    font-size: 17.5px;
    padding-bottom: 0.325em;
    font-weight:300;
}

footer a:link, footer a:visited {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
	color: #2FA5D6;
}
.fa-linkedin {
    background-color: #2fa5d6;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #fff;
    padding-top: 8px;
}
.fa-linkedin:hover, .fa-twitter:hover, .fa-facebook:hover {
	color:#2fa5d6;
	background-color:#fff;
}
.fa-twitter {
	background-color: #2fa5d6;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #fff;
    padding-top: 10px;
}

.fa-facebook {
	background-color: #2fa5d6;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #fff;
    padding-top: 10px;
}

.list-group-item {
    background: none;
    border: none;
 }

 .footer-bottom {
 	background-color:#343434;
 }

 .footer-bottom p {
 	font-size: 13.5px;
 	color:#6A6D71;
 }
 .footer-bottom a {
 	font-size: 14px;
 	color:#6A6D71;
 }

.footer-bottom a:hover {
 	color:#84B9CE;
 }


/* ==== MEDIA QUERIES ==== */

@media screen and (max-width : 1024px) {

	.services-text {
    	padding: 45px;
	}
	.container {
    	max-width: 945px;
	}
	.list-unstyled-2 {
	    padding-top: 0px;
	}
	
}

@media screen and (max-width : 768px) {
	.navbar .btn-primary {
		margin: 15px 0px 15px;
		padding: 8px 12px;
	    font-size: 15px;
	}
	.logo {
		width: 50%;
	}
	.container {
    	max-width:650px;
	}
	section {
    	padding-top: 65px;
    	padding-bottom: 65px;
	}
	.navbar-light .navbar-toggler {
    	color: #2FA5D6 !important;
    	border-style: none;
    }
    .navbar-toggler {
    	padding: .25rem 0rem;
	}
	#what-i-do img {
    	max-width: 436px;
	}
	.what-i-do-text {
    	padding: 30px 0px;
	}
	.heading-2 {
	    font-size: 22px;
	    padding: 35px 50px;
	}
	.services-text {
    	padding: 70px;
	}
	#about-me {
		padding: 0px 0px 60px 0px;
	}
	#about-me .box {
    	padding: 60px 90px 60px 60px;
    		margin: 20px 50px 0px 50px;
	}
	#contact .container-fluid {
    	max-width: 650px;
	}
	#reach-out-now h2 {
		font-size:38px;
	}
	#reach-out-now p {
		font-size: 28px;
		line-height: 40px;
		padding-bottom:10px;
	}
	
	
}
@media screen and (max-width : 667px) {

	/*.navbar-toggler {
		display:none;
	}*/
	
	.container {
    	max-width: 550px;
	}
	#contact {
	    padding: 20px;
	}
	#contact img {
		padding-bottom: 30px;
	}
	.text-end {
	    padding-right: 30px;
	    padding-top:30px;
	}
	.footer-links .list-group-horizontal {
		flex-direction: column;
	}
}

@media screen and (max-width : 568px) {

	.container {
    	max-width: 350px;
	}
	.navbar-light .navbar-brand {
	    font-size: 23px;
	}
	section {
	    padding-top: 55px;
	    padding-bottom: 55px;
	}
	
	h1 {
		font-size: 33px;
		line-height: 41px;
	}
	.navbar .btn-primary {
	    margin: 10px 0px;
	}
	.sub-head-text {
	    font-size: 23px;
	    line-height: 31px;
	}
	.heading {
		font-size: 24px;
		padding-bottom:30px;
	}
	#hero .box {
  		padding: 40px 30px;
	}
	#what-i-do img {
    	max-width: 325px;
    	padding-top: 30px;
	}
	.what-i-do-text {
    	padding: 30px 20px 0px;
	}
	.what-i-do-text-2 {
    	padding: 0px 30px 0px;
	}
	#my-approach img {
		display: block;
	}
	#about-me .box {
    	padding: 50px 40px 50px 40px;
    	margin: 50px 20px 0px 20px;
	}
	#about-me {
    padding-top: 0px;
	}
	#other-services h2 {
    	padding-top: 40px;
	}
	#contact {
		padding: 20px 20px 60px 20px;
	}
	#reach-out-now p {
		padding: 0;
		font-size: 24px;
	}

	footer {
    	padding: 50px 0;
	}
	

}